---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import AboutUs from '../components/AboutUs.astro';
import ImageSection from '../components/ImageSection.astro';
import ElevateSpaces from '../components/ElevateSpaces.astro';
import ProjectsCarousel from '../components/ProjectsCarousel.astro';
import Testimonials from '../components/Testimonials.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <AboutUs />
    <ImageSection imagePath="/home/Image_Background.webp" />
    <ElevateSpaces />
    <ImageSection imagePath="/home/Image_Background (1).webp" />
    <ProjectsCarousel />
    <Testimonials />
  </main>
</Layout>
