---
interface Props {
  imagePath: string;
}

const { imagePath } = Astro.props;
---

<section 
  class="h-[100dvh] min-h-[100dvh] bg-cover bg-center reveal" 
  style={`background-image: url('${imagePath}');`}
>
</section>
